<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FixFileNames.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FixFileNames.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FixFileNames.Properties.Settings>
            <setting name="Search" serializeAs="String">
                <value>xlsm</value>
            </setting>
            <setting name="Root" serializeAs="String">
                <value>a:\</value>
            </setting>
            <setting name="SavePrev" serializeAs="String">
                <value>True</value>
            </setting>
        </FixFileNames.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FixFileNames.Properties.Settings>
            <setting name="FileStringRegex" serializeAs="String">
                <value>([A-Z]:\\[^/:\*\?&lt;&gt;\|]+\.\w{2,6})|(\\{2}[^/:\*\?&lt;&gt;\|]+\.\w{2,6})</value>
            </setting>
        </FixFileNames.Properties.Settings>
    </applicationSettings>
</configuration>